@import "tailwindcss";

@theme {
    --color-background-dark: #020617;
    --color-accent-indigo: #6366f1;
}

:root {
    --background: #020617;
    --foreground: #f8fafc;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@utility glass-panel {
    background-color: rgba(15, 23, 42, 0.4);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(30, 41, 59, 0.5);
}

@utility glass-card {
    background-color: rgba(15, 23, 42, 0.2);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(30, 41, 59, 0.3);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@utility interactive-bg {
    background-image: radial-gradient(circle at top right, rgba(99, 102, 241, 0.05), transparent),
        radial-gradient(circle at bottom left, rgba(168, 85, 247, 0.05), transparent);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #334155;
}